<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    
    {{>navbar}}


    <div class="container-fluid main_header">
        <div class="row">

            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about(2).jpeg" alt="Harshil and Samridhi" class="img-fluid" title="Weather website">
                        </figure>
                       

                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                        
                        <p>Welcome to Weather Website</p>
                        <h1>Here, on this website you can get <span class="text_clr"> Weather</span> related info of your city. </h1>
                        <a href= "/weather"><button> Check Weather</button></a>

                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>


</html>